html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.bookmark-movie .js-movie-bookmark-title{
	max-width: 250px;
}

.btn.js-movie-bookmark-remove {
	width: 20px;
	height: 20px;
	padding: 0;
}
